<!--
Copyright (c) 2018 Ringo Hoffmann (zekro Development)

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->

<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8">
        <title>Yuri Web Interface</title>
        <meta name="author" content="zekro">
        <meta name="description" content="Yuri, the best Discord SoundBoard in whole north korea! With API, Web Interface, Hotkey Client and it's open source!">
        <meta name="keywords" content="">
        <meta name="theme-color" content="#00BCD4">
        <meta property="og:title" content="yuri">
        <meta property="og:url" content="https://github.com/zekroTJA/yuri">
        <meta property="og:description" content="Yuri, the best Discord SoundBoard in whole north korea! With API, Web Interface, Hotkey Client and it's open source!">
        <meta property="og:image" content="http://zekro.de/ss/yurilogo.png">
        <meta name="audience" content="all" />
        <meta name="doc-type" content="web page" />
        <meta name="author" content="zekro" />
        <meta name="twitter:card" value="summary">
        <link rel="stylesheet" type="text/css" href="css/main.css"/>
        <link rel="shortcut icon" type="image/png" href="src/favicon.png"/>
    </head>
    
    <body>
        {{{ body }}}
    </body>

</html>