@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: rgb(30, 30, 30)
}

p, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Roboto', sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

.textbox {
    width: 300px; 
    height: 20px;
    background-color: transparent;
    color: white; 
    text-align: center;
    outline: none;
    border-bottom: 1.5px solid white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    transition: all .25s ease-in-out;
}

.textbox:focus {
    width: 360px;
    /* transform: scaleX(1.2); */
}

.button {
    margin-top: 20px;
    height: 25px;
    width: 70px;
    background-color: transparent;
    color: white;
    outline: none;
    border: 1.5px solid white;
    font-family: 'Raleway', sans-serif;
    transition: .25s ease;
    cursor: pointer;
}

.center {
    text-align: center
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    /* align-content: space-between;
    justify-content: space-between; */
}

.flexdiv {
    display: flex;
    padding-left: 10px;
    flex-flow: row wrap;
    overflow: hidden;
    transition: all .25s ease-in-out;
}

/* ----------------- HEADER BAR ----------------- */

.tile {
    padding: 10px;
    background-color: rgba(140, 228, 82, 0.609);
    margin: 10px;
    transition: all .25s ease-in-out;
}

.tile:hover {
    background-color: rgb(140, 228, 82);
}

.btn_logout {
    height: 30px;
    margin-top: 25px;
    width: 100px;
    background-color: #ca3a1abf;
}

.btn_logout:hover {
    background-color: #ca3a1a;
}

#btn_restart {
    width: 120px;
    background-color: rgba(209, 23, 70, 0.527);
    transition: all .25s ease-in-out;
}

#btn_restart:hover {
    background-color: rgb(209, 23, 70);
}

#btn_stop {
    width: 120px;
    background-color: rgba(209, 181, 23, 0.527);
    transition: all .25s ease-in-out;
}

#btn_advanced {
    margin-left: 20px;
    width: 120px;
    background-color: rgba(23, 172, 209, 0.527);
}

#btn_advanced:hover {
    background-color: rgb(23, 172, 209);
}

#btn_sortby {
    margin-left: 20px;
    width: 120px;
    background-color: rgba(23, 209, 94, 0.527);
}

#btn_sortby:hover {
    background-color: rgb(23, 209, 94);
}

/* ----------------- HEADER BAR ----------------- */

#btn_showlog {
    background-color: rgba(128, 128, 128, 0.527);
}

#btn_showlog:hover {
    background-color: rgba(128, 128, 128, 0.822);
}

#btn_channelaction {
    width: 100%;
}

.infobtn {
    margin: 0px 10px; 
    position: absolute;
    cursor: pointer;
    transition: all .25s ease-in-out;
}

.infobtn:hover > .infopage {
    display: block;
}

.infopage {
    position: relative;
    margin-top: 10px;
    display: none;
    width: 350px;
    background-color: #006064;
    padding: 1px 20px 5px 20px;
}

.line-break {
    width: 100%;
}

#btn_stop:hover {
    background-color: rgba(209, 181, 23, 1);
}

@keyframes noscriptbanner_animation {
    0%    {top: -30px; }
    75%   {top: -30px; }
    100%  {top: 0px; }
}

#noscriptbanner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    background-color: #d1432a;
    text-align: center;
    animation-name: noscriptbanner_animation;
    animation-duration: 1s;
}